.navbar {
  display: inline;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cecece;
  cursor: pointer;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
}

li a:hover {
  background-color: #cecece;
}

.signinform {
  min-height: 100vh;
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(7, 7, 7);
  border-radius: 10px;
  text-align: center;
}

.helper {
  text-align: center;
}

.ui.cards {
  justify-content: center;
}

.recipes{
  display: inline-block;
  align-content: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ui.card:first-child {
  margin-top: 0;
}

.signupform {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(7, 7, 7);
  border-radius: 10px;
}

.button {
  cursor: pointer;
}

.content {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.submitbutton {
  background-color: #cecece;
  border-radius: 15px;
}

.active {
  background-color: #cecece;
}

.field {
  display: block;
}

.label {
  display: block;
  float: left;
}

.aboutmessage {
  display: flex;
  margin: 40px;
}

.toquetitle {
  text-align: center;
}